*{
    margin: 0;
    padding: 0;
}

.clearfix{
    float: none;
    clear:both;
}

#container{
    width: 70%;
    background-color: gray;
    margin: 0 auto; /* Para centrar el div */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
}

header{
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    float: left;
    background-color: #ccc;
    height: auto;
    min-height: 750px;
    text-align: center;
    line-height: 750px;
}

#articles{
    width: 75%;
    min-height: 750px;
    float: left;
    background-color: lemonchiffon;
}

#articles article{
    width: 30%;
    height: 150px;
    background-color: blue;
    color: white;
    line-height: 50px;
    text-align: center;
    border: 2px solid black;
    overflow: hidden;
    float: left;
    margin:15px;
}

/*Aplico @media*/
@media(max-width: 1942px){
    #articles article{
        width:29.8%;
        background-color: red;
    }
}

@media(max-width: 1832px){
    #articles article{
        width:29.6%;
        background-color: red;
    }
}

@media(max-width: 1690px){
    #articles article{
        width:45%;
        background-color: green;
    }

    aside{
        height: 1105px;
    }
}

@media(max-width: 1294px){
    #articles article{
        width:44%;
        background-color: yellow;
    }

    aside{
        height: 1105px;
    }
}

@media(max-width: 1080px){
    #articles article{
        width:43%;
        background-color: yellowgreen;
    }
    aside{
        height: 1105px;
    }
}


@media(max-width: 925px){
    #articles article{
        width:41%;
        background-color: yellowgreen;
    }
    aside{
        height: 1105px;
    }
}

@media(max-width: 850px){
    aside h2{
        font-size: 2.5vw;
    }
}

@media(max-width: 810px){
    #articles article{
        width:40%;
        background-color: yellowgreen;
    } 
}
/*Vista Movil*/
@media(max-width: 650px){
    #container{
        overflow: hidden;
    }

    #articles article{
        width:40%;
        background-color: blueviolet;
        color: white;
    }
    #articles{
        width: 100%;
    }
    aside{
       float:none;
       min-height: auto;
       height: 40px;
       line-height: 20px;
       width: 100%;
       padding: 20px;
    }
    aside h2{
        font-size: 24px;
    }
}