body {
  --bg-color: lightblue;
  background-color: var(--bg-color);
}
h1 {
  font-family: Arial, Helvetica;
  color: black;
}
p {
  color: yellow;
}
.caja {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  background-color: #031fa8;
  padding: 10px;
}
.caja h2 {
  color: #ccc;
}
.caja p {
  color: green;
}
.caja .info {
  font-size: 14px;
}
.caja .info .autor {
  font-size: 18px;
  color: #ccc;
}
.caja {
  box-shadow: 0 0 10px black;
  text-shadow: 0 0 5px black;
}
.caja2 {
  box-shadow: 0 0 5px blue;
  text-shadow: 0 0 10px gray;
}
h3 {
  font-size: 24px;
}
h1 {
  color: blue;
}
.caja3 {
  border: 1px solid black;
  height: 700px;
  height: 900px;
  height: 450px;
  height: 300px;
  height: 225px;
  height: 180px;
}
.col-f-1 {
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-f-2 {
  width: 380px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-f-3 {
  width: 580px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-f-4 {
  width: 780px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-f-5 {
  width: 980px;
  margin-left: 10px;
  margin-right: 10px;
}
.col-f-6 {
  width: 1180px;
  margin-left: 10px;
  margin-right: 10px;
}
.grid-ancho-fijo {
  border: 1px solid black;
}
.fila {
  border: 1px solid black;
}
